@model AgreementApplication.Models.AgreementDetail

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm("Create","Home",FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AgreementDetail</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate,"{0:dd-MM-yyyy}",
            new { htmlAttributes = new { @class = "form-control date-picker" } })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate, "{0:dd-MM-yyyy}", new { htmlAttributes = new { @class = "form-control date-picker" } })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Status, Enum.GetNames(typeof(AgreementApplication.Models.AgreementStatus)).Select(u => new SelectListItem { Text=u}), "Select Status", new { htmlAttributes = new { @class = "form-control dropdown" } })
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div>
            <input type="submit" value="Create" />
        </div>
    </fieldset>
}




